services:
  crm-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crm-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://api-crm.casasdemargarida.com.br/api
    networks:
      - crm-network

networks:
  crm-network:
    driver: bridge
